body {
  background-color:floralwhite
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 25px 150px 25px 150px;
  border: 1px solid navy;
  text-align: left;
}

  h1   {
    color:darkblue;
    font-family:verdana;
    font-size:200%;
}
  h2   {
    color:darkslateblue;
    font-family:verdana;
    font-size:120%;
}
  h3   {
    font-family:Times;
    font-size:120%;
}
  h4   {
    font-family:arial;
    font-size:100%;
    color:dimgray;
}